<div>
    <h3>Top Games</h3>
    </div> 
    <div class="row">
      <a class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img [src]=myimage12 width="350" height="200">
          <div class="card-body">
            <p class="card-text">Tom Clancy's Rainbow Six® Siege</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </a>
    
      <a class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img [src]=myimage15 width="350" height="200">
          <div class="card-body">
            <p class="card-text">MONSTER HUNTER: WORLD</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </a>
      <a class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img [src]=myimage1 width="350" height="200">
          <div class="card-body">
            <p class="card-text">Attack on Titan 2 - A.O.T.2</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </a>

      <a class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img [src]=myimage10 width="350" height="200">
          <div class="card-body">
            <p class="card-text">PLAYERUNKNOWN'S BATTLEGROUNDS</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </a>
      <a class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img [src]=myimage11 width="350" height="200">
          <div class="card-body">
            <p class="card-text">Counter-Strike: Global Offensive</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </a>
      <a class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img [src]=myimage13 width="350" height="200">
          <div class="card-body">
            <p class="card-text">Grand Theft Auto V</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              </div>
            </div>
          </div>
        </div>
      </a>
    
    <!-- <div class="grid grid-pad">
      <a *ngFor="let game of games" class="col-1-4"
        routerLink="/detail/{{game.id}}">
      <div class="module game">
        <div class="album py-5 bg-light">
    <div class="container">

      </div>
    </div>
  </div>
        <h4>{{game.name}}</h4>
      
      </a>
    </div> -->
  </div>