<!-- 
    <h2 class="text-center">Add New Game</h2>
    <form #gameFrom = "ngForm" (ngSubmit)="SubmitAdd(gameFrom)">

      <div [formGroup]="addForm" class="form-group">
        <label for="name">Game</label>
        <input type="text" formControlName="name" placeholder="Name" name="name" class="form-control" id="name">
      </div>

      <div [formGroup]="addForm" class="form-group">
        <label for="description">Description</label>
        <input type="text" formControlName="description" placeholder="Description" name="description" class="form-control" id="description">
      </div>
  
      <div [formGroup]="addForm" class="form-group">
        <label for="price">Price</label>
        <input type="text" formControlName="price" placeholder="Price" name="price" class="form-control" id="price">
      </div>

      <div [formGroup]="addForm" class="form-group">
        <label for="player">Player</label>
        <input type="text" formControlName="player" placeholder="Player" name="player" class="form-control" id="player">
      </div>

      <div [formGroup]="addForm" class="form-group">
        <label for="photoPath">Upload Picture: (Coming Soon!!!)</label>
      </div>

      <button type="ngSubmit" class="btn btn-success">Update</button>
    </form> -->

<h2>ADD NEW GAME</h2>
    
    <form #gameFrom = "ngForm" (submit)="SubmitAdd(gameFrom)" class="needs-validation" novalidate>

    <div class="form-group">
      <label for="name" class="col-form-label">Name</label>
      <input [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched)}" #name="ngModel" ngModel name="name" type="text" class="form-control" id="name" required>
      <div class="invalid-feedback">
        <span>*****</span>
      </div>
    </div>

    <div class="form-group">
      <label for="description" class="col-form-label">Description</label>
      <input  [ngClass]="{'is-invalid': description.invalid && (description.dirty || description.touched)}" #description ="ngModel" ngModel name="description" type="text" class="form-control" id="description" required>
      <div class="invalid-feedback">
        <span>*****</span>
      </div>
    </div>

    <div class="form-group">
      <label for="price" class="col-form-label">Price</label>
      <input [ngClass]="{'is-invalid': price.invalid && (price.dirty || price.touched)}" #price="ngModel" ngModel name="price" type="text" class="form-control" id="price">
    </div>

    <div class="form-group">
      <label for="player" class="col-form-label">Player</label>
      <input [ngClass]="{'is-invalid': player.invalid && (player.dirty || player.touched)}" #player="ngModel" ngModel name="player" class="form-control" id="player">
    </div>

        <button class="btn btn-success" type="submit">Update</button>

   </form>



