h2{
    margin-top: 10px;
    margin-bottom: 30px;
}
.Form-input{
    padding: 5%;
    border-style: solid;
    border-radius: 25px;
}

Button{
    width: 80px;
    margin-top: 25px;
    
}

form{
    margin-top: 10px;
    padding: 5%;
    border-style: solid;
    border-radius: 10px;
}
