.Form {
    display: flex;
    border-style: solid;
    border-color: white;
    justify-content: center;
}

.Form-input{
    padding: 5%;
    border-style: solid;
    border-radius: 25px;
}

Button{
    width: 80px;
    margin-top: 25px;
    
}

form{
    margin-top: 10px;
    padding: 5%;
    border-style: solid;
    border-radius: 10px;
}
