<h2>My Games</h2>

  <a [routerLink]="['/create-game']" class="btn btn-dark">
    add new game
  </a>

<!-- <div class="text-center">
  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm">Add game</a>
</div> -->

<!-- <div class="games">
  <div *ngFor="let game of games">
    <a routerLink="/detail/{{game.id}}">
      <button type="button" class="btn btn-dark"> 
      <span class="badge"></span> {{game.name}}
      </button>
    </a>
     <button class="delete" title="delete game"
      (click)="delete(game)">x</button>
   </div>
  </div> -->

 
      <div class="games">
        <div *ngFor="let game of games" class="image">
          <hr class="featurette-divider">
          <div *ngIf="!isLoggedIn" class="row featurette">
            <div class="col-md-7">
              <h2 class="game">Game: {{ game.name }}</h2>
              <p class="description">Description: {{ game.description }}</p>
              <p class="price">Price: {{ game.price | currency }}</p>
              <p class="player">Player: {{ game.player }}</p>
            </div>
              <div *ngIf="game.id == 1" class="col-md-5">
                <img [src]=myimage1 width="450" height="300">
              </div>
              <div *ngIf="game.id == 2" class="col-md-5">
                <img [src]=myimage4 width="450" height="300">
              </div>
              <div *ngIf="game.id == 3" class="col-md-5">
                <img [src]=myimage7 width="450" height="300">
              </div>
              <div *ngIf="game.id == 4" class="col-md-5">
                <img [src]=myimage10 width="450" height="300">
              </div>
              <div *ngIf="game.id == 5" class="col-md-5">
                <img [src]=myimage13 width="450" height="300">
              </div>
            </div> 
            <td>
              <button class="btn btn-danger" (click)="delete(game)">x</button>
              <button class="btn btn-secondary" (click)="editGame(game)" style="margin-left: 5px;">Edit</button>
            </td>
           <hr class="featurette-divider">
        </div>
      </div>
 
 

 
  