/* div{
    display: flex;
    margin-top: 25px;
    font-size: 25px;
    text-align: center;
    margin: 40px;
}
h2{
    text-align: center;
}
button{
    width: 150px;
} */

a{
    margin-left: 980px;
    width: 135px;
}





