    <h2 class="text-center">Edit Game</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="name">Game</label>
        <input type="text" formControlName="name" placeholder="Name" name="name" class="form-control" id="name">
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <input formControlName="description" placeholder="Description" name="description" class="form-control" id="description">
      </div>
  
      <div class="form-group">
        <label for="price">Price</label>
        <input formControlName="price" placeholder="Price" name="price" class="form-control" id="price">
      </div>

      <div class="form-group">
        <label for="player">Player</label>
        <input formControlName="player" placeholder="Player" name="player" class="form-control" id="player">
      </div>

      <button class="btn btn-success">Update</button>
    </form>




  