*{
    color: #616161;
    box-sizing: border-box;
  }
  
  router-outlet + * {
    padding: 0 16px;
  }
  
  b{
    margin: 15px;
  }

  a:hover{
    opacity: 0.8;
  }
  
  input{
    font-size: 16px;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #bdbdbd;
  }
  
  label{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    display: 2px block;
    text-transform: uppercase;
  }
  
  /* .button, button{
    display: inline-flex;
    align-items: center;
    margin-bottom: 0px;
    padding: 8px 15px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background: #1976d2;
    color: white;
    border: none;
  } */
  
  .button:hover, .button:hover{
    opacity: 0.8;
    font-weight: normal;
  }
  
  .button:disabled, .button:disabled{
    opacity: 0.5;
    cursor: auto;
  }
  
  .fancy-button{
    background-color: white;
    color: #000000;
  }
  
  .fancy-button i.material-icons{
    color: #000000; 
  }
  
  app-top-bar {
    width: 100%;
    height: 80px;
    background-color: black;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  app-top-bar h1 {
    color: white;
    margin: 0;
  }
  input[text] {
    color: #333;
    font-family: Cambria, Georgia;
  }

  