<!--  <div *ngIf="game">
  <h2>{{game.name}} Games</h2> 
      <div class="games">
        <div *ngIf="game.id == 1" class="image">
          <hr class="featurette-divider">
          <a class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">{{ game.topic }}</h2>
              <p class="lead">{{ game.description }}</p>
              <p class="Price">{{ game.price | currency }}</p>
              <p class="Player">{{ game.player }}</p>
            </div>
              <div class="col-md-5">
                <img [src]=myimage1 width="450" height="300">
              </div> 
          </a> 
           <span class="button is-small btn-danger" (click)='deleteGame()'>Delete</span>
         <button (click)="deleteGame(game.id)">x</button> 
          <button (click)="deleteGame(game.id)">x</button> 
           <hr class="featurette-divider">
        </div> -->


        <!-- <div *ngIf="game.id == 2" class="image">
          <hr class="featurette-divider">
          <a class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">{{ game.topic }}</h2>
              <p class="lead">{{ game.description }}</p>
              <p class="Price">{{ game.price | currency }}</p>
              <p class="Player">{{ game.player }}</p>
            </div>
              <div class="col-md-5">
                <img [src]=myimage4 width="450" height="300">
              </div> 
      
          </a>
          <hr class="featurette-divider">
        </div>     

        <div *ngIf="game.id == 3" class="image">
          <hr class="featurette-divider">
          <a class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">{{ game.topic }}</h2>
              <p class="lead">{{ game.description }}</p>
              <p class="Price">{{ game.price | currency }}</p>
              <p class="Player">{{ game.player }}</p>
            </div>
  
              <div class="col-md-5">
                <img [src]=myimage7 width="450" height="300">
              </div> 
            
          </a>
        </div>     

        <div *ngIf="game.id == 4" class="image">
          <hr class="featurette-divider">
          <a class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">{{ game.topic }}</h2>
              <p class="lead">{{ game.description }}</p>
              <p class="Price">{{ game.price | currency }}</p>
              <p class="Player">{{ game.player }}</p>
            </div>
        
              <div class="col-md-5">
                <img [src]=myimage10 width="450" height="300">
              </div> 
            
          </a>
        </div>     

        <div *ngIf="game.id == 5" class="image">
          <hr class="featurette-divider">
          <a class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">{{ game.topic }}</h2>
              <p class="lead">{{ game.description }}</p>
              <p class="Price">{{ game.price | currency }}</p>
              <p class="Player">{{ game.player }}</p>
            </div>
           
              <div class="col-md-5">
                <img [src]=myimage13 width="450" height="300">
              </div> 
            
          </a>

      </div>       
     <div><span>id: </span>{{game.id}}</div> 
    <input [(ngModel)]="game.name" placeholder="name"/>
        <a routerLink="/detail/{{game.id}}"> 
          <span class="badge">{{game.id}}</span> {{game.name}}
        </a>    -->

<!-- <div class="games" >
<div *ngIf="game.id == 1" class="image">
  <a class="row featurette" >
    <div class="col-md-7">
      <h2 class="featurette-heading"> Attack on Titan 2 - A.O.T.2 </h2>
      <p class="lead">Abandon all fear. Attack on Titan 2 is the gripping sequel to the action game based on the worldwide hit anime series "Attack on Titan.</p>    
      <p class="Price">Price : 65$</p>
      <p class="Player">Player : Single</p>
    </div>
    <div class="col-md-5">
      <img [src]=myimage1 width="450" height="300">
    </div>
  </a>
  <hr class="featurette-divider">
  <a class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Dead by Daylight <span class="text-muted">Price : 12$</span></h2>
      <p class="lead">Dead by Daylight is a multiplayer (4vs1) horror game where one player takes on the role of the savage Killer, and the other four players play as Survivors, trying to escape the Killer and avoid being caught and killed.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img [src]=myimage2 width="450" height="300">
    </div>
  </a>
  <hr class="featurette-divider">
  <a class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Assassin’s Creed® IV Black Flag™ <span class="text-muted">Price : 18$</span></h2>
      <p class="lead">The year is 1715. Pirates rule the Caribbean and have established their own lawless Republic where corruption, greediness and cruelty are commonplace.Among these outlaws is a brash young captain named Edward Kenway.</p>
    <button class="delete" class="btn btn-danger" title="delete game"
    (click)="delete(game)">x</button> 
    </div>
    <div class="col-md-5">
      <img [src]=myimage3 width="450" height="300">
    </div>
  </a>
</div>


<div *ngIf="game.id == 2" class="image">
  <a class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">SCUM <span class="text-muted">Price : 12$</span></h2>
      <p class="lead">SCUM aims to evolve the multiplayer open world survival game with unprecedented levels of character customization, control and progression, where knowledge and skills are the ultimate weapons for long-term survival.</p>
    </div>
    <div class="col-md-5">
      <img [src]=myimage4 width="450" height="300">
    </div>
  </a>
  <hr class="featurette-divider">
  <a class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">How to survive <span class="text-muted">Price : 10$</span></h2>
      <p class="lead">A real Gem” – Destructoid at E3 “Offers a different experience for zombie game veterans” – Co-Optimus“Has a lot more going for it than smashing brains and gory, red goo ... With a surprisingly deep crafting system”</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img [src]=myimage5 width="450" height="300">
    </div>
  </a>
  <hr class="featurette-divider">
  <a class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Dead Island <span class="text-muted">Price : 10$</span></h2>
      <p class="lead">Welcome to the zombie apocalypse experience of a lifetime – and now more beautiful than ever. Caught in the midst of an epic zombie outbreak on the tropical island of Banoi, your only thought is: Survive!</p>
    </div>
    <div class="col-md-5">
      <img [src]=myimage6 width="450" height="300">
    </div>
  </a>
</div>



<div *ngIf="game.id == 3" class="image">
  <a class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Deceit <span class="text-muted">Price : free to play</span></h2>
      <p class="lead">Deceit tests your instincts at trust and deception in an action-filled, multiplayer first-person shooter. You wake up in unknown surroundings to the sound of the Game Master’s unfamiliar voice, surrounded by five others. A third of your group have been infected with a virus, but who will escape?</p>
    </div>
    <div class="col-md-5">
      <img [src]=myimage7 width="450" height="300">
    </div>
  </a>
  <hr class="featurette-divider">
  <a class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Lucius<span class="text-muted">Price : 8$</span></h2>
      <p class="lead">Equipped with supernatural powers, take control of Lucius as he begins his blood filled tour of horror through his own house.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img [src]=myimage8 width="450" height="300">
    </div>
  </a>>
  <hr class="featurette-divider">
  <a class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Pacify <span class="text-muted">Price : 3$</span></h2>
      <p class="lead">There is reportedly an evil inside that house. Something about an old funeral parlor offering a last chance to talk to their dead loved ones. Plus something about lights, laughter, a girl, missing people, etc... You know the same stuff everyone claims. Take a team, and check the place out.</p>
    </div>
    <div class="col-md-5">
      <img [src]=myimage9 width="450" height="300">
    </div>
  </a>
</div>


<div *ngIf="game.id == 4" class="image">
  <a class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">PLAYERUNKNOWN'S BATTLEGROUNDS <span class="text-muted">Price : 18$</span></h2>
      <p class="lead">PLAYERUNKNOWN'S BATTLEGROUNDS is a battle royale shooter that pits 100 players against each other in a struggle for survival. Gather supplies and outwit your opponents to become the last person standing.</p>
    </div>
    <div class="col-md-5">
      <img [src]=myimage10 width="450" height="300">
    </div>
  </a>
  <hr class="featurette-divider">
  <a class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Counter-Strike: Global Offensive<span class="text-muted">Price : free to play</span></h2>
      <p class="lead">Counter-Strike: Global Offensive (CS: GO) expands upon the team-based action gameplay that it pioneered when it was launched 19 years ago. CS: GO features new maps, characters, weapons, and game modes, and delivers updated versions of the classic CS content (de_dust2, etc.).</p>  
    </div>
    <div class="col-md-5 order-md-1">
      <img [src]=myimage11 width="450" height="300">
    </div>
  </a>
  <hr class="featurette-divider">
  <a class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Tom Clancy's Rainbow Six® Siege <span class="text-muted">Price : 20$</span></h2>
      <p class="lead">Tom Clancy's Rainbow Six Siege is the latest installment of the acclaimed first-person shooter franchise developed by the renowned Ubisoft Montreal studio.</p>
    </div>
    <div class="col-md-5">
      <img [src]=myimage12 width="450" height="300">
    </div>
  </a>
</div>


<div *ngIf="game.id == 5" class="image">
  <a class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">GTA V<span class="text-muted">Price : 24$</span></h2>
      <p class="lead">Grand Theft Auto V for PC offers players the option to explore the award-winning world of Los Santos and Blaine County in resolutions of up to 4k and beyond, as well as the chance to experience the game running at 60 frames per second.</p>
    </div>
    <div class="col-md-5">
      <img [src]=myimage13 width="450" height="300">
    </div>
  </a>
  <hr class="featurette-divider">
  <a class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">FINAL FANTASY XV WINDOWS EDITION<span class="text-muted">Price : 56$</span></h2>
      <p class="lead">Take the journey, now in ultimate quality. Boasting a wealth of bonus content and supporting ultra high-resolution graphical options and HDR 10, you can now enjoy the beautiful and carefully-crafted experience of FINAL FANTASY XV like never before.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img [src]=myimage14 width="450" height="300">
    </div>
  </a>
  <hr class="featurette-divider">
  <a class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">MONSTER HUNTER: WORLD<span class="text-muted">Price : 25$</span></h2>
      <p class="lead">Welcome to a new world! In Monster Hunter: World, the latest installment in the series, you can enjoy the ultimate hunting experience, using everything at your disposal to hunt monsters in a new world teeming with surprises and excitement.</p>
    </div>
    <div class="col-md-5">
      <img [src]=myimage15 width="450" height="300">
    </div>
  </a>
</div>
</div>   -->

 <!--  <div class="panel-footer">
    <button class="btn btn-primary" (click)="goBack()">Back</button> -->
    <!-- <button class="btn btn-danger" (click)="delete()">x</button> 
  </div>  -->
<!-- </div> -->
<!-- </div> -->

<!-- 
<div><span>id: </span>{{game.id}}</div> 
<input [(ngModel)]="game.name" placeholder="name"/>
   <a routerLink="/detail/{{game.id}}"> 
     <span class="badge">{{game.id}}</span> {{game.name}}
   </a>    -->
  