<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">DIAMOND</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" *ngIf="isLoggedIn">
        <a [routerLink]="['/games']" class="nav-item nav-link active" href="#">Games</a>
      </div>
    </div>
  </nav>
  <!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
    <b [routerLink]="['/login']" class="button fancy-button">
        <i class="material-icons">lock_open</i>Sign in
    </b>
    
    <b [routerLink]="['/register']" class="button fancy-button">
        <i class="material-icons">perm_identity</i>Register
    </b>  
  </nav> -->

<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">logout</a>
      </li>
    </ul>
  </nav>
</div>  





